@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.ContactUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
}

.contactHeading {
    font-size: 4rem;
    height: 20%;
    width: 100%;
    font-family: 'Julius Sans One', sans-serif;
    color: orangered;
    margin-bottom: 3rem;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 40%;
    height: 100%;
    font-family: 'Julius Sans One', sans-serif;
    color: orangered;
    padding: 1rem;
}

.chairperson,
.vicechairperson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.head {
    font-size: 1.7rem;
    margin-bottom: 0.2rem;
}

.position {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.email,
.phone {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
}

.mediaImg {
    width: 70%;
    height: 100%;
}

.mediaImg img {
    width: 70%;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* justify-content: center;
    align-items: center; */
    gap: 2%;
    padding: 2rem;
    width: 90%;
    height: 30%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 30%; */
    height: 3rem;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    padding: 1rem;
    gap: 2%
}

.contactIcon {
    height: 100%;
    width: 30%;
    padding: 0;
}

.card img {
    height: 80%;
    width: 40%;
    /* margin-left: -6rem; */
}

.emailIcon {
    margin-left: -3rem;

}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    color: antiquewhite;
}

@media only screen and (max-width:768px) {

    .contactHeading {
        font-size: 3.5rem;
    }

    .mediaImg {
        width: 90%;
        height: 100%;
    }

    .mediaImg img {
        width: 70%;
        height: 100%;
    }

    .head {
        font-size: 1.4rem;
    }

    .position {
        font-size: 1.1rem;
    }

    .email,
    .phone {
        font-size: 1.2rem;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }


    .contactIcon {
        height: 90%;
    }
}

@media only screen and (max-width:1024px) {

    .card {
        margin-bottom: 1rem;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:550px) {
    .card {
        margin-bottom: 1rem;
    }

    .footer {
        grid-template-columns: 1fr;
    }
}