
@font-face {
  font-family: "neo-latina";
  src: local("neo-latina"),
   url("./font/neo-latina-demo-FFP.ttf") format("truetype");
  font-weight: bold;
  }
  @font-face {
    font-family: "neo-latina-bold";
    src: local("neo-latina"),
     url("./font/neo-latina-demo-FFP.ttf") format("truetype");
    font-weight: bolder;
    }
    
.css-1ps6pg7-MuiPaper-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: none;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1pxrgba(0,0,0,0.2),0px 1px 1px 0pxrgba(0,0,0,0.14),0px 1px 3px 0pxrgba(0,0,0,0.12);
}